<div class="styled">
<center>
<br>
<%= link_to root_path do %>
    <%= image_tag "beta-breakers.png", alt: "Beta Breakers", width: "250", class: "logo" %>
 <% end %>
 <br><br><br>

<h4>Go beyond the guidebook.</h4><br><br>

<%= link_to 'Login', login_path %><br>

<%= link_to 'Sign Up', signup_path %><br>

<%= link_to 'Login via Facebook', '/auth/facebook' %><br><br><br>
</center>
</div>