<div class="styled">
<center>
<h1> Login </h1><br>

<%= flash[:error] %>

<%= form_for @user, url: login_path do |f| %>
    <%= f.text_field :email, class: "form-text", autofocus: true, placeholder: "Email" %><br>

    <%= f.password_field :password, class: "form-text", placeholder: "Password" %><br>

    <%= f.submit 'Login', class: "form-btn" %>
<% end %><br><br>

<%= render partial: "layouts/login" %><br><br><br>
</center>
</div>