<div class="styled">
<center>
<h1> Login </h1><br>

<%= flash[:error] %>

<%= form_for @user, url: login_path do |f| %>
    <%= f.label :email %>: 
    <%= f.text_field :email %><br>

    <%= f.label :password %>: 
    <%= f.password_field :password %><br>

    <%= f.submit 'Login' %>
<% end %><br><br>

<%= render partial: "layouts/login" %>
</center>
<div class="styled">