<center>
<h1> Add a Comment </h1><br>

<%= form_for [@user, @comment] do |f| %> 
    <%= f.label :content %>: 
    <%= f.text_area :content %><br><br>

    <%= f.label :rating %>: 
    <%= f.radio_button :rating, "1" %> <small> 1 </small>
    <%= f.radio_button :rating, "2" %> <small> 2 </small>
    <%= f.radio_button :rating, "3" %> <small> 3 </small>
    <%= f.radio_button :rating, "4" %> <small> 4 </small>
    <%= f.radio_button :rating, "5" %> <small> 5 </small><br>
    <small> (1 to 5 stars) </small><br><br>
    

    <%= f.submit 'Add Comment' %>
<% end %>
</center>