<center>
<h2> Canyoneering Beta </h2><br>

<% @rootes.each do |r| %>
    <b><%= link_to r.name, roote_path(r) %> - <%= r.category %> (<%= r.difficulty %>)</b> <small><%= r.location %></small><br>
<% end %><br><br>

<%= render partial: 'footer' %>
</center>