<div class="styled">
<center>
<h1> Edit Your Beta </h1>

<%= form_for @roote do |f| %> 
    <%= render partial: 'layouts/errors', locals: {obj: @roote} %><br>

    <%= render partial: 'form', locals: {f: f} %>
    <%= f.submit 'Edit' %>
<% end %><br><br>

<%= render partial: "layouts/footer" %><br><br><br>
</center>
</div>