<div class="styled">
<center>
<h1> All Beta </h1><br>

<% @rootes.each do |r| %>
    <b><%= link_to r.name, roote_path(r) %> - <%= r.category %> (<%= r.difficulty %>)</b> <small><%= r.location %></small><br>
<% end %><br><br>

<%= form_tag('/rootes', method: :get) do %>
    <%= text_field_tag 'search', params[:search] %>
    <%= submit_tag 'Search Routes' %>
<% end %><br><br>

<%= render partial: "layouts/footer" %><br><br>
</center>
</div>