<div class="styled">
    <center>
        <%= render partial: "layouts/header" %>

        <%= form_for @roote do |f| %> 
            <%= render partial: 'layouts/errors', locals: {obj: @roote} %><br>
    
            <%= render partial: 'form', locals: {f: f} %>
            <%= f.submit 'Add Beta' %>
        <% end %><br><br><br>
    </center>
</div>