<center>
<h1> <%= @roote.name.capitalize %> </h1>

<h2> <%= @roote.category.capitalize %> at <%= @roote.location.capitalize %> (<%= @roote.difficulty %>) </h2>

<p> <%= @roote.content %> </p>

</center>