<div class="styled">
<center>
<h1> <%= @roote.name.split.map(&:capitalize).join(' ') %> </h1>

<h4><b> <%= @roote.category %> (<%= @roote.difficulty.upcase %>) </b></h4>
<h5><b> <%= @roote.location.split.map(&:capitalize).join(' ') %> </b></h5><br>

<p> <%= @roote.content %> </p><br><br>

<h5><b> Comments: </b></h5>
<% @roote.comments.each do |c| %>
    <b><%= c.user.username.split[0].capitalize %> says:</b> <%= c.content %> <b><%= c.rating %>/5 stars </b><br>
<% end %><br>

<%= button_to 'Add Comment', new_roote_comment_path(@roote), method: :get %><br><br>

<%= render partial: "layouts/footer" %><br><br>
</center>
</div>