<center>
<h1> <%= @roote.name.split.map(&:capitalize).join(' ') %> </h1>

<h4> <%= @roote.category %> at <%= @roote.location.split.map(&:capitalize).join(' ') %> (<%= @roote.difficulty.upcase %>) </h4><br>

<p> <%= @roote.content %> </p><br>

<%= link_to 'Home', user_path(@user) %>
</center>