<div class="styled">
    <center>
        <%= render partial: "layouts/header" %>

        <h3><b>Sport Climbing</b></h3>

        <% @rootes.each do |r| %>
            <b><%= link_to r.name, roote_path(r) %> - <%= r.category %> (<%= r.difficulty %>)</b> <small><%= r.location %></small><br>
        <% end %><br><br>

        <%= render partial: "layouts/footer" %><br><br>
    </center>
</div>